* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: unquote("clamp(1rem, -0.875rem + 8.3333vw, 3.5rem)");
  overflow: hidden;
  color: #777;
  background-color: #2fa7ec;
}
