---
import Footer from "../components/Footer.astro";
import "../styles/globals.css";

interface Props {
  title: string;
  description: string;
  noIndex?: boolean;
}

const { title, description, noIndex = false } = Astro.props;
---

<html lang="en">
  <head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    {noIndex && <meta name="robots" content="noindex" />}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=zdnfztgnfgt" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=zdnfztgnfgt" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=zdnfztgnfgt" />
    <link rel="manifest" href="/site.webmanifest?v=zdnfztgnfgt" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=zdnfztgnfgt" color="#1e90ff" />
    <link rel="shortcut icon" href="/favicon.ico?v=zdnfztgnfgt" />
    <meta name="msapplication-TileColor" content="#1e90ff" />
    <meta name="theme-color" content="#e2edfb" />
  </head>
  <body>
    <main class="content">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 1.5rem;
  }

  @media (max-height: 700px) {
    .content {
      padding: 1.25rem 1.5rem;
    }
  }
</style>
