name: CD

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: gcr.io/tobythe-dev/read-receipt
  ARCHIVE_NAME: Build
  ARCHIVE_PATH: ./docker-build.tar

jobs:
  ci:
    name: Run CI
    uses: ./.github/workflows/ci.yml
    secrets: inherit

  deploy:
    name: Deploy

    runs-on: ubuntu-latest

    needs:
      - ci

    environment:
      name: Production
      url: https://read-receipt.tobythe.dev

    steps:
      - name: Login to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Set up GCP SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Configure Docker
        run: gcloud auth configure-docker --quiet

      - name: Download Docker image
        uses: actions/download-artifact@v7
        with:
          name: ${{ env.ARCHIVE_NAME }}

      - name: Load Docker image
        run: docker load --input ${{ env.ARCHIVE_PATH }}

      - name: Push Docker image
        run: docker push ${{ env.IMAGE_NAME }}

      - name: Deploy Docker image
        run: >
          gcloud run deploy ${{ secrets.GCP_APP_NAME }}
          --image ${{ env.IMAGE_NAME }}
          --region europe-west1
          --platform managed
